<strong>Hello, {{ email }}</strong>
<p>Products Alert</p>
<p>
  <strong>ProductName: </strong> {{ p1Title }} <br />
  <strong>ProductPrice: </strong>{{ p1Price  }} <br />
  <strong>ProductLink: </strong> {{ p1productLink }} <br />
  <br />
  <strong>ProductName: </strong> {{ p2Title }} <br />
  <strong>ProductPrice: </strong>{{ p2Price  }} <br />
  <strong>ProductLink: </strong> {{ p2productLink }} <br />
  <br />
  <strong>ProductName: </strong> {{ p3Title }} <br />
  <strong>ProductPrice: </strong>{{ p3Price  }} <br />
  <strong>ProductLink: </strong> {{ p3productLink }} <br />
  <br />
</p>
